
body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 0.85rem;
}

// vue2-datepicker
.mx-datepicker-popup{
 z-index: 1999 !important;
}

// Card
.card-title {
    float: left;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    line-height: 35px;
}

.card-title i.nav-icon {
    color: $primary;
}

.card-header {
    padding: 0.35rem 0.85rem;
}

.card-body {
    padding: 0.55rem;
}

.card-footer {
    padding: 0.55rem 1.15rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 0 solid rgba(0, 0, 0, 0.125);
}

.content-header h1 {
    font-size: 1.2rem;
    margin: 0;
}

a, a:hover {
    color: $gold;
}

.rmb-20 {
    margin-bottom:-20px;
}

// datepicker vue2-datepicker
.mx-datepicker {
    position: relative;
    display: inline !important;
}
