[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #4b545c;
    color: rgba(255, 255, 255, 0.8);
    min-height: 55px;
    padding: 0.766rem 0.5rem;
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}
